body {
  font-family: "Mulish", sans-serif;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 81%;
  width: 100%;
  margin: auto;
}
.current {
  color: #7e7e7e;
}
p {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0%;
}
.p-title {
  line-height: 20px;
  opacity: 1;
  margin: 0%;
}
.side_p {
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  padding-top: 3%;
}
.li-list {
  font-size: 18px;
  line-height: 23px;
}
h1 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0%;
}
.h1-head {
  color: #4a4ff2;
}
h2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4a4ff2;
  margin: 0%;
}
h3 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
h4 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0%;
}
header {
  max-width: 81%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}
.header_name {
  display: flex;
}
.header_nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2em;
}
li a {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  text-decoration: none;
  width: 100%;
}
.top {
  transition: transform 0.2s;
  margin: 0 auto;
}
.top:hover {
  transform: scale(1.2);
}
.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 4%;
}
.heading {
  display: flex;
  flex-direction: column;
  max-width: 57%;
  width: 100%;
  justify-content: flex-start;
}
.headline {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  width: 100%;
  justify-content: end;
  align-content: end;
}
.side-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: start;
  max-width: 60%;
  width: 100%;
}
.side_line {
  display: flex;
  width: 30px;
  height: 2px;
  background: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}
body {
  font-family: "Mulish", sans-serif;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 81%;
  width: 100%;
  margin: auto;
}
.current {
  color: #7e7e7e;
}
p {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0%;
}
.p-title {
  line-height: 20px;
  opacity: 1;
  margin: 0%;
}
.side_p {
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  padding-top: 3%;
}
.li-list {
  font-size: 18px;
  line-height: 23px;
}
h1 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0%;
}
.h1-head {
  color: #4a4ff2;
}
h2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4a4ff2;
  margin: 0%;
}
h3 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
h4 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0%;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 5%;
  transition: 0.3s;
}
.gallery_col {
  display: grid;
  grid-gap: 20px;
  position: relative;
}
.gallery-item {
  overflow: hidden;
  margin: 0%;
}
.gallery__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  transition: transform 0.2s;
  margin: 0;
}
.gallery__img__img:hover {
  transform: scale(1.3);
  filter: grayscale(1);
}
body {
  font-family: "Mulish", sans-serif;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 81%;
  width: 100%;
  margin: auto;
}
.current {
  color: #7e7e7e;
}
p {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0%;
}
.p-title {
  line-height: 20px;
  opacity: 1;
  margin: 0%;
}
.side_p {
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  padding-top: 3%;
}
.li-list {
  font-size: 18px;
  line-height: 23px;
}
h1 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0%;
}
.h1-head {
  color: #4a4ff2;
}
h2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4a4ff2;
  margin: 0%;
}
h3 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
h4 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0%;
}
body {
  font-family: "Mulish", sans-serif;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 81%;
  width: 100%;
  margin: auto;
}
.current {
  color: #7e7e7e;
}
p {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0%;
}
.p-title {
  line-height: 20px;
  opacity: 1;
  margin: 0%;
}
.side_p {
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  padding-top: 3%;
}
.li-list {
  font-size: 18px;
  line-height: 23px;
}
h1 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0%;
}
.h1-head {
  color: #4a4ff2;
}
h2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4a4ff2;
  margin: 0%;
}
h3 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
h4 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0%;
}
.table {
  display: flex;
  justify-content: center;
}
.table_container {
  display: flex;
  flex-direction: column;
}
.table-head {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.table_headline {
  display: flex;
  text-align: start;
  max-width: 50%;
  width: 100%;
}
.list-container {
  max-width: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.table_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-right: 6%;
  gap: 0.7em;
}
.table_awards {
  display: grid;
  grid-template-columns: 4fr 2.5fr 2.5fr 0.9fr;
  grid-template-rows: 1.5fr 3fr 1.2fr 3.5fr;
  border-top: 2px solid #d8d8d8;
  align-items: baseline;
  padding-top: 3%;
  padding-bottom: 3%;
}
.awards {
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 3%;
}
.h2__aw {
  color: #111111;
}
.awards-item {
  display: grid;
  margin-bottom: 4%;
  margin-top: 2%;
}
.awards-item-1 {
  grid-area: 1/1/1/1;
}
.awards-item-2 {
  grid-area: 1/2/1/2;
}
.awards-item-3 {
  grid-area: 3/2/3/2;
}
.awards-item-4 {
  grid-area: 1/3/1/3;
}
.awards-item-5 {
  grid-area: 2/3/2/3;
  align-self: start;
  margin-bottom: 6%;
  margin-top: 0%;
}
.awards-item-6 {
  grid-area: 3/3/3/3;
}
.awards-item-7 {
  grid-area: 4/3/4/3;
  align-self: start;
  margin-bottom: 6%;
  margin-top: 0%;
}
.awards-item-8 {
  grid-area: 1/4/1/4;
}
.awards-item-9 {
  grid-area: 3/4/3/4;
}
body {
  font-family: "Mulish", sans-serif;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 81%;
  width: 100%;
  margin: auto;
}
.current {
  color: #7e7e7e;
}
p {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0%;
}
.p-title {
  line-height: 20px;
  opacity: 1;
  margin: 0%;
}
.side_p {
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  padding-top: 3%;
}
.li-list {
  font-size: 18px;
  line-height: 23px;
}
h1 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0%;
}
.h1-head {
  color: #4a4ff2;
}
h2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4a4ff2;
  margin: 0%;
}
h3 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
h4 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0%;
}
header {
  max-width: 81%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}
.header__branding {
  display: flex;
}
.header__nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2em;
}
li a {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  text-decoration: none;
  width: 100%;
}
.top {
  transition: transform 0.2s;
  margin: 0 auto;
}
.top:hover {
  transform: scale(1.2);
}
.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 4%;
}
.heading {
  display: flex;
  flex-direction: column;
  max-width: 57%;
  width: 100%;
  justify-content: flex-start;
}
.head_side {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  width: 100%;
  justify-content: end;
  align-content: end;
}
.side-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: start;
  max-width: 60%;
  width: 100%;
}
.side_line {
  display: flex;
  width: 30px;
  height: 2px;
  background: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}
footer {
  max-width: 81%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 3%;
}
.footer_name {
  display: flex;
}
.footer_nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2em;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;
}
.media {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.fab {
  font-size: 20px;
  color: #111111;
}
